<html> 

    <head> 

        <meta charset="UTF-8"> 

        <title> Index </title> 
                  

    </head> 

    <body></br></br></br></br></br> 

        <div align="center"> 

          <div align="center" class="border"> 

             <div class="header"> 

                <h1 class="word">Index</h1> 

             </div></br></br></br> 

                <h1 class="bottom"> 

                     Hi {{session.username}}!!</br></br> Welcome to the index page...                  

                </h1></br></br></br> 
                <form action="{{url_for('index')}}" method="POST" >
                    <div class="msg">{{ msg }}</div> 
                    <h1>Enter Data</h1><br><br>
                    <label>Subject Name:</label>
                    <input type="text" placeholder="Enter Subject Name"  name="subject" id="subject"class="textbox"><br><br>
                    <label>Mark:</label>
                    <input type="text" placeholder="Enter mark"  name="mark" id="mark" class="textbox"><br><br>
                    <label>Attendence:</label>
                    <input type="text" placeholder="Enter attendence"  name="attendence" id="attendence" class="textbox"><br><br>
                    <input type="submit" class="btn" value="submit"></br> 
                
                </form>
                <a href="{{ url_for('logout') }}" class="btn">Logout</a> 
                        

          </div> 

        </div> 

    </body>