<html> 

    <head> 

        <meta charset="UTF-8"> 

        <title> Index </title> 
                  

    </head> 

    <body></br></br></br></br></br> 

        <div align="center"> 

          <div align="center" class="border"> 


                <h1 class="bottom"> 

                    Welcome {{session.username}}!!           

                </h1></br></br>
                <form action="{{url_for('index')}}" method="POST" class="for" >
                    <div class="msg">{{ msg }}</div> 
                    <h1>Enter Data</h1><br>
                    <label>Student Name:</label>
                    <input type="text" placeholder="Enter Student Name" id="name" name="name"><br><br>
                    <label>Student Id:</label>
                    <input type="text" placeholder="Enter Subject Name" id="sid" name="sid"><br><br>
                    <label>Subject Name:</label>
                    <input type="text" placeholder="Enter Subject Name"  name="subject" id="subject"class="textbox"><br><br>
                    <label>Mark:</label>
                    <input type="text" placeholder="Enter mark"  name="mark" id="mark" class="textbox"><br><br>
                    <label>Attendence:</label>
                    <input type="text" placeholder="Enter attendence"  name="attendence" id="attendence" class="textbox"><br><br>
                     <button type="submit">submit</button></br> 
                
                </form>
               
                        

          </div> 

        </div> 
        <link rel="stylesheet" href="../static/index.css"> 
    </body>