<body><form action="" method="POST" >
    <h1>Enter Data </h1><br><br>
    <label>mark:</label>
    <input type="text" placeholder="Enter Student Name" id="mark" name="mark"><br><br>
    
    <input type="submit" class="btn" value="Submit"></br></br> 
</form>
<h3>Mark of students</h3>
<table border="1"  class="b" align="center" color="white">
    {% for header in headers%}
            <th>{{header}}</th>
             {%endfor%}
             {% for row in cur%}
        <tr>
            {%for value in row.values()%}
            <td>{{value}}</td>
            {%endfor%}
        </tr>
    {% endfor %}
</table></br>

<a href="{{ url_for('logout') }}" class="btn">Logout</a> 
<link rel="stylesheet" href="../static/show.css">  
</body>